@model Estoque.Models.categoria

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Tem certeza que deseja excluir o item @Html.DisplayFor(model => model.nomeCategoria) ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeCategoria)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idCategoria" />
        <input type="submit" value="Excluir" class="btn btn-danger mt-2" />
        <a class="btn btn-warning mt-2 " asp-action="Index">Voltar</a>
    </form>
</div>
