@model Estoque.Models.categoria

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeCategoria)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.idCategoria">Editar</a> 
    <a class="btn btn-warning" asp-action="Index">Voltar</a>
</div>
