@model Estoque.Models.produtos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>produtos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomeProduto" class="control-label"></label>
                <input asp-for="nomeProduto" class="form-control" />
                <span asp-validation-for="nomeProduto" class="text-danger"></span>
            </div>

            
                <label>Categorias</label>
            <select  class="form-select" name="categoria">
                @foreach (categoria item in Model.categoria){
                    <option value="@item.idCategoria">@item.nomeCategoria</option>
                }
            </select>
          
            
            <div class="form-group">
                <label asp-for="valorProduto" class="control-label"></label>
                <input asp-for="valorProduto" class="form-control" />
                <span asp-validation-for="valorProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorCompra" class="control-label"></label>
                <input asp-for="valorCompra" class="form-control" />
                <span asp-validation-for="valorCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorVenda" class="control-label"></label>
                <input asp-for="valorVenda" class="form-control" />
                <span asp-validation-for="valorVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataProduto" class="control-label"></label>
                <input asp-for="dataProduto" class="form-control" />
                <span asp-validation-for="dataProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
