@model Estoque.Models.produtos

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idProdutos" />
            <div class="form-group">
                <label asp-for="nomeProduto" class="control-label"></label>
                <input asp-for="nomeProduto" class="form-control" />
                <span asp-validation-for="nomeProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorProduto" class="control-label"></label>
                <input asp-for="valorProduto" class="form-control" />
                <span asp-validation-for="valorProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorCompra" class="control-label"></label>
                <input asp-for="valorCompra" class="form-control" />
                <span asp-validation-for="valorCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorVenda" class="control-label"></label>
                <input asp-for="valorVenda" class="form-control" />
                <span asp-validation-for="valorVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estoque" class="control-label"></label>
                <input asp-for="Estoque" class="form-control" />
                <span asp-validation-for="Estoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataProduto" class="control-label"></label>
                <input asp-for="dataProduto" class="form-control" />
                <span asp-validation-for="dataProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary mt-2" />
                <a class="btn btn-warning mt-2" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
